<%- include ("partials/header.ejs")%>

<body>
    
    
    <div id="goals">
        <div class="goals-2-achieve-heading">
            <h1>Goals 2 Achieve</h1>
        </div>
        <div id = "checkboxes">
            <div class="indiv-checkbox">
                <input type="checkbox" name="#" value = "">
                <label for="goal1"> BRUH BRUH BRUH BRUH BRUH</label>
            </div>
            <div class="indiv-checkbox">
                <input type="checkbox" name="#" value = "">
                <label for="goal2">BRUH BRUH BRUH BRUH BRUH</label>
            </div>
            <div class="indiv-checkbox">
                <input type="checkbox" name="#" value = "">
                <label for="goal3">BRUH BRUH BRUH BRUH BRUH</label>
            </div>
            <div class="indiv-checkbox">
                <input type="checkbox" name="#" value = "">
                <label for="goal4">BRUH BRUH BRUH BRUH BRUH</label>
            </div>
            <div class="indiv-checkbox">
                <input type="checkbox" name="#" value = "">
                <label for="goal5">BRUH BRUH BRUH BRUH BRUH</label>
            </div>
        </div>
        <div>
            <input type = "type" name = "new-goal-type">
            <button id="addgoal">Add New Goal</button>
        </div>
    </div>

    
</body>
</html>