<%- include ("partials/header.ejs")%>

<body>
    
    
    <div id="goals">
        <div class="goals-2-achieve">
            <h1>Goals 2 Achieve</h1>
            <div class = "row">
                <input type = "type" id = "input-box" placeholder="add your goal">
                <button id="addgoal">Add New Goal</button>
            </div>
            <ul id="list-container">
                <% if (submittedData && submittedData.newGoals) { %>
                    <li><%= submittedData.newGoals %></li>
                <% } %>
                <li>bruh this</li>
                <li>bruh this</li>
                <li>bruh this</li>
            </ul>
        </div>
    </div>

    <script src="goals2achieve.js"></script>
</body>
</html>