<%-include ("partials/header.ejs") %>
<body>
    <container class="log-info">
        <div class="log-header">
            <h2>Log History</h2>
        </div>
        <div class="emotion-logged">
            
        </div>
        <div class="key-moments-logged">
            
        </div>
    </container>
</body>
