body{
    background-color: #AED8F2;
    font-family: Montserrat, sans-serif;
    color: #FFF9D0;
  
}

#title {
    color: #1c4966;
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
}

#nest-title{
    color: #FFF9D0;
    font-weight: bold;
}

.log{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


#emotions{
    background-color:#1c4966;
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    
}

svg{
    position: relative;
    color: #FFF9D0;
    top: 10px;
    left: 10px
}

.journal-box{
    background-color: #1c4966;
    height: 175px;
    display:flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 240px;
    border-radius: 5px;
    padding: 30px;
    margin-left: 30px;
    
}

.textbox{
    background-color: #1c4966;
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
}



.monthly-log{
    background-color: #1c4966;
    width: 160px;
    height: 260px;
    padding: 30px;
    padding-top: 15px;
    border-radius: 5px;
}

.monthly-log > h1 {
    color: #FFF9D0;
    position: relative;
    left: 5px;
}

#prev-buttons{
    margin-top: 40px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prev-emotions{
    width: 150px;
    border: 1;
    background-color: #1c4966;
    color: white;
    border-radius: 10px;
}

.textbox{
    margin-top: -15px;
}
.nav-bar{
    position:absolute;
    right: 40px;
    top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-bar > a{
    background-color: #1c4966;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}


